@import url('https://fonts.googleapis.com/css2');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.container {
  position: relative;
  left: 0px;
}

.container .navigation {
  position: relative;
  width: 80px;
  height: 420px;
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  
}

.container .navigation.active {
  width: 300px;
}

.container .navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container .navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
}

.container .navigation ul li:hover {
  background-color: aquamarine;
}

.container .navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

.container .navigation ul li a .icon {
  padding: relative;
  display: block;
  min-width: 80px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.container .navigation ul li a .icon .fa {
  font-size: 24px;
}

.container .navigation ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.toggle {
  position: absolute;
  top: calc(50% - 20%);
  right: -20px;
  width: 40px;
  height: 40px;
  background: white;
  cursor: pointer;
  border: 3px solid black;
}

.toggle.before {
  content: '\f105';
  font-family: FontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  color: darkblue;
}

.toggle.active:before {
  content: '\f104';
}
