   .wodrs {
    margin: 20px auto;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 50px;
  }
  body {
    background-image: url("https://st3.depositphotos.com/1194063/15070/i/450/depositphotos_150709644-stock-photo-various-herbs-and-spices.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .button {
    background-color: white;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 20px;
    display: inline;
  }
  .contain {
    border: 2px outset white;
    border-radius:10px ;
    text-align: center;
    width: 350px;
    height: 350px;
    margin: 50px auto;
    width: 300px;
  }
  #login{
    
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 30px;
  }
  #email, #password{
    width: 200px;
    height: 25px;
    border-radius: 12px;
    border: 2px outset black ;
  }
