
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px 20px 20px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 12;
  .logo {
    display: flex;
    padding-right: 200px;
    .stylish {
      font-weight: bold;
    }

    .logoRes {
      padding-left: 4px;
      color: #ea4f4c;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
  .dropdown-content {
    list-style: none;
    display: none;
    position:fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
 
}
.dropdown-content li a {
color:#222 ;
text-decoration: none;

}
.dropdown:hover .dropdown-content {
  display: block;
  inline-size: none;
  
}

.drawer{
height: 100%;
background-color: #222;
position:fixed;
width: 200px;
left: 0;
padding-top: 50px;
}
.drawer a{
display: block;
color: black;
padding:30px;
text-decoration: none;
}
.drawer a.active{
background-color: #6e1c1a;
color: white;
} 
.drawer a:hover:not(.active){
background-color: #ea4f4c;
color: white;
} 



.icon{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase ;
    color: rgb(240, 234, 234);
    margin-top: -30px;
    text-align: left;
}
.container { 
  max-width:max-content;
  margin: 20px 0 0 200px;
  padding-top: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 150px;
  max-height: 400px;
}

.product-details {
  display: flex;
}
.detailsinfo{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-left: 0;
}
.product-image{
  max-width: 30%;
  min-width: 30%;
  margin-right: 50px;
  margin-left: 50px;
}

.product-image img {
  width: 100%;
  border-radius: 8px;
}

.product-info {
  max-width: 60%;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  color: #555;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  color: #008000;
  font-weight: bold;
}